.home-root {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-rankings-layout {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    & > * {
        flex-grow: 1;
    }
    & > *:first-child {
        margin: 10px;
    }
    & > *:last-child {
        margin: 10px;
    }
}

.home-list-layout {
    margin: 10px;
}

.home-ctr-layout {
    margin: 10px;
}