.login-root {
    margin: 30px 10px 30px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .login-layout {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 40px 30px 40px;

        

        button {
            margin-top: 20px;
        }
    }
}