.app-root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .app-header {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: rgb(230, 230, 230) solid 0.5px;
        background-color: #fafbfc;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .app-header-inner {
            max-width: 1020px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 10px;
            padding: 5px;

            & > div {
                margin: 5px;
            }

            .app-avatar {
                width: 65px;
                height: 65px;
                filter: drop-shadow(0 0 0.2rem #00aa9a);
                margin-right: 16px;
        
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .app-title-layout {
                display: flex;
                flex-direction: column;

                h4, h6 {
                    color: rgb(73, 73, 73);
                }
            }
        }
    }

    .app-layout {
        width: 100%;
        max-width: 1020px;
    }

    footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 20px 0 0 0;
        padding-bottom: 20px;
        background-color: #fafbfc;
        border-top: rgb(230, 230, 230) solid 0.5px;
    }
}